
/* определение переменных */

:root {
	--font-description-item-color: #757575;
	--font-heading-color: #212121;
	--accent-color: #ffffff;
	--background-footer-hero-color: #2f303a;
	--background-basic-color: #e5e5e5;
	--background-team-button-color: #f5f4fa;
	--hover-web-color: #2196f3;
	--font-family: 'Roboto';
	--font-style: normal;
	--address-color: #757575;
	--fontsize-header-footer-advantage: 14px;
	--fontsize-team-projectsdesc-buttons: 16px;
	
}

/* глобальные настройки и сброс по умолчанию*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


:visited {
	color: inherit;	
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;	
}
a, button, input, textarea {
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
	display: block;
}

body {
	font-family: var(--font-family), sans-serif;
	font-style: var(--font-style);
	letter-spacing: 0.03em;
	font-weight: normal;
	
	font-size: var(--fontsize-team-projectsdesc-buttons);
}
/* ======= класс, который прячет ====== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* утилита задает размер главным блокам и размещает их по центру */

.main-blocks-centred{
	width:1200px; 
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.flex-blocks-centred {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* утилита задает размер шрифту в header, footer, блоку advantages */

.fontsize-header-footer-advantage {
	font-size: var(--fontsize-header-footer-advantage);
}

/* настройки для заголовков секций */
.section-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--font-heading-color);
	
}
/* шрифт для фрагментов в верхнем регистре */
.font-caps {
	font-weight: bold;
	line-height: 1.14;
	text-transform: uppercase;
	font-size: 14px;
}
/* ============= СТИЛИ ДЛЯ КНОПОК =============== */
.button-style {
	
	font-weight: bold;
    letter-spacing: 0.06em;
	font-family: var(--font-family);
	font-style: var(--font-style);
	letter-spacing: 0.06em;
	font-size: 16px;
    border: 0px;
	border-radius: 4px;
	cursor: pointer;
}

/* ============== MODAL WINDOW ======= */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}
.backdrop.is-hidden .modal{
	transform: translate( -50%, -50%) scale(1.1);
}

.backdrop .modal {
	
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate( -50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
}

.modal-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
    width: 30px;
    height: 30px;
	background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	color: black;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	
	opacity: 0;
	pointer-events:none;
}

.contact-heading {
	margin-top: 40px;
	margin-bottom: 12px;
	font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.contact-form-wrap {
    display: flex;
	flex-direction: column;
	width: 448px;
	margin: 12px auto 0px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
	fill: var(--font-heading-color);

}



.contact-form input[placeholder]{
	padding-left: 38px;
}

textarea[placeholder]{
padding: 12px 16px;
	
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.comments:focus::placeholder,
.comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea{
	display: block;
	width: 448px;
    height: 120px;
	margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
	resize: none;
}

.contact-form input{
	display: block;
	min-width: 448px;
	height: 40px;

	margin-top: 4px;
    margin-bottom: 10px;

	border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
	
}
.contact-form-wrap label {
	position: relative;
	
}
  
.icon-contact-form {
	position: absolute;
	top: 32px;
	left: 12px;
}


.confirmation{
	margin-top: 20px;
}
.icon-confirm{
	fill: var(--font-heading-color);
	margin-right: 8px;
}

.confirmation {
	font-size: 14px;
    line-height: 1.7px;
    
    color: #757575;
}
.confirmation::before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 7px;
	
	background-image: url("../img/icon-confirm.svg");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 2px;
}

.confirmation a {
	display: inline-block;
    color: var(--hover-web-color);
	text-decoration: underline;
	margin-left: 0.3rem;
}
.contact-form-btn {
	min-width: 200px;
    height: 50px;
	/* line-height: 1.9; */
	margin-top: 30px; 
	margin-bottom: 40px;
	margin-left: 164px;
	
	background: var(--hover-web-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--accent-color);
}


/* ======================== HEADER ======================== */

 .header-container { 
	
	background-color: var(--accent-color);
	border-bottom: 1px solid #ECECEC;
}

header {
	display: flex;
	align-items: center;
	
	padding: 25px 0;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.02em;
	color: var(--font-heading-color);
	

}
.highlighted {
	color: var(--hover-web-color);
	
}
.light-box {
    position: relative;
	
}

.highlighted::after {
	position: absolute;
	bottom: -34px;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
    background: #2196F3;
    border-radius: 2px;
}


nav {
	margin-left: 93px;
}
.contacts-header {
	margin-left: 305px;
}

header ul {
	display: flex;
}


nav li:not(:first-child) {
    margin-left: 50px;
}
.contacts-header li{
	display: flex;
	align-items: center;
}
.contacts-header li:last-child {
	margin-left: 30px;
}


.contacts {
	color: var(--font-description-item-color);
	display:flex;
	align-items: center;
}

/* ============== ЛОГОТИП ==============*/
.logo {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.2;
	color: var(--font-heading-color);
}

.logo span {
	color: var(--hover-web-color);
}

.icon-mail {
	width: 12px;
	height: 10px;
	margin-right: 10px;
	fill: currentColor;
}
.icon-phone {
	width: 10px;
	height: 16px;
	margin-right: 10px;
	fill: currentColor;
}

/* ======================== FOOTER ======================== */

.footer-container {
	
	background-color: var(--background-footer-hero-color);
	padding: 60px 0px;
}
footer {	
	line-height: 1.71;
	font-style: var(--font-style);
	--font-heading-color: var(--accent-color);	
}

.logo-social-title {
	display: flex;
	align-items: baseline;
}

address {
	font-style: inherit;
	color: var(--font-heading-color);
}

.logo-footer {
	display: block; 
	padding-bottom: 20px;
}
footer li:not(:last-child) {
	margin-bottom: 9px;
}
.social-heading {
	color: var(--accent-color);
	margin-left: 156px;
	
}
.address-social {
	display: flex;
}

.contacts-footer {
	color: rgba(255, 255, 255, 0.6);
}

.social-links{
	
	display: flex;
	justify-content: center;
	text-align: center;	
}
address {
	margin-right: 78px;
}
.email-footer {

    width: 358px;
    height: 50px;
    margin-left: 93px;
	padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    letter-spacing: 0.03em;
    line-height: 1.25;

    background: #2F303A;
    color: rgba(255, 255, 255, 0.6);

}
.send-btn{

	min-width: 200px;
    height: 50px;
	margin-left: 10px;
	line-height: 1.9;
	
	background: var(--hover-web-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--accent-color);

}

.icon-send {
	margin-left: 10px;
	fill: currentColor;
}


/* ========== HOVER AND FOCUS ============= */

header a:hover,
header a:focus {
	color: var(--hover-web-color);
}
/* соц сети в команде */
.team-item a:hover,  
.team-item a:focus {
	background-color: var(--hover-web-color);
	color: var(--accent-color);
 }
/* кнопки фильтра в портфолио */
.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--hover-web-color);
	color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* фото работ в портфолио */
.photo-work a:hover,
.photo-work a:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}
.photo-work a:hover .overlay,
.photo-work a:focus .overlay {
	transform: translateY(0);
} 
/* соц сети в футере */
.social-link-footer:hover,
.social-link-footer:focus {
	background: #2196F3;
	color: var(--accent-color);
}
/* лого клиентов */
.customers-item a:hover,
.customers-item a:focus {
	color: var(--hover-web-color);
	
}
.contacts:hover,
.contacts:focus {
	color: var(--hover-web-color);
	fill: var(--hover-web-color);
}
.contact-form input:focus,
.contact-form textarea:focus
 {
     border: 1px solid var(--hover-web-color);
	 outline: none; 
	
}
.contact-form input:focus + span {
     color: var(--hover-web-color);
	 outline: none;
	 
}

.icon-contact-form-wrap {
	color: var(--font-heading-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: currentColor;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
	background-color:  #188CE8;
}
.confirm:checked + .confirmation::before{
	background-image: url("../img/icon-confirmed.svg");
	background-color: var(--hover-web-color);
}

.modal-close-btn:hover {
	color :var(--hover-web-color);
	fill: currentColor;
}

/* =========== social links icons ======= */

.icon-social {
	height: 44px;
	width: 44px;
	padding: 12px 0px;
	fill: currentColor;
	border-radius: 50%;
	
}

.social-links>li:not(:first-child) {
	margin-left: 10px;
}
/* social links in footer */
.social-links a {
	width: 44px; 
	height: 44px; 
	border-radius: 50%;
	color:var(--accent-color);
	background: rgba(255, 255, 255, 0.1);
}
/* social links in team */
.team-item a {
	color: #AFB1B8;
}




 
/* ========== HERO ============= */

.hero {
	/* background-color: var(--background-footer-hero-color); */
	max-width: 1600px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
	rgba(47, 48, 58, 0.4)
	   ),
	   url("../img/overlay.jpg");
	   

	
}
.hero-title {
	
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
		
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--accent-color);
	
}

.order-btn {

	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	margin-top: 30px;

	font-weight: bold;
	line-height: 1.87;
	letter-spacing: 0.06em;

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--accent-color);
	background-color: var(--hover-web-color);
	
}

/* ============ НАШИ ПРЕИМУЩЕСТВА =============== */
.advantages {
	padding: 94px 0;	
	}

.advantages-list {
	
	display: flex;
	justify-content: center;

}

.advantages-list li {
	width: 270px;
}
.advantages-list li:not(:last-child){
	margin-right: 30px;
}


.advantages-list h3{
	
	color: var(--font-heading-color);
	margin-bottom: 10px;
}
.advantages-list p {
	line-height: 1.7;
	color: var(--font-description-item-color);
}
.icon-advantages {
	width: inherit;
	height: 120px;
	padding: 25px 0px;
	margin-bottom: 30px;
	background: #F5F4FA;
	border-radius: 4px;
	fill: #212121;
}
/* ============= ЧЕМ МЫ ЗАНИМАЕМСЯ ============ */


.business {
	margin-top: 50px;
	padding-bottom: 94px;
	
}
.business-list p {
	
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(47, 48, 58, 0.8);
	height: 70px;
    color: var(--accent-color);
    
}


.business-list li{
    position: relative;
}

.business-list {
	display: flex;
	justify-content: center;
	margin: 0px auto;
	
}
.business-list li:not(:last-child){
	margin-right: 30px;
}

/* ============ НАША КОМАНДА =============== */
	
.team {
	background-color: var(--background-team-button-color);
	line-height: 1.19;
	text-align: center;
	color: var(--font-description-item-color);
	padding: 94px 0;
	
	
}
/* .team ul { 
	display: flex;
	justify-content: center;
	text-align: center;
	 margin-top: 50px;
} */

.team-list {
	padding-top: 50px;
}

.team-list>li:not(:first-child) {
	margin-left: 30px;
}


.team b {
	display: block;
	color: var(--font-heading-color);
	
}
.team p {
	 margin-top: 10px;
	 margin-bottom: 16px;	
	
}
.team-item {
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background: var(--accent-color);
}


/* =============== CUSTOMERS ================== */
.customers {
	/* background-color: var(--background-basic-color);	  */
	padding: 94px 0;
	
}

.customers-list {
	/* display: flex; 
	align-items: center;
	justify-content: center;*/
	margin-top: 50px;
}
.customers-list>li:not(:first-child) {
	margin-left: 30px;
}
.customers-item a {
	width: 170px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid; 
	border-radius: 4px;
	color: #AFB1B8;
}
.customers-icon {
	fill: currentColor;
}

/*============== СТРАНИЦА ПОРТФОЛИО ===================== */

/* КНОПКИ ФИЛЬТРА */
.portfolio {
	padding: 94px 0;
}

.filter {
	
	display: flex;
	justify-content: center;
	
}
.filter-btn {
	
	min-width: 84px;
	padding: 6px 22px;

	font-weight: 500;
	line-height: 1.62;
	
	color: var(--font-heading-color);
	background-color: var(--background-team-button-color);

}

.filter li:not(:last-child) {
	margin-right: 8px;
}

/* ============= ФОТО РАБОТ ============== */

.photo-work {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	
}
.photo-work li:not(:nth-child(3n)){
	margin-right: 27px;
}
.photo-work li{
	border: 1px solid #EEEEEE; 
	background: var(--accent-color);
	margin-bottom: 30px;
}
.photo-work li:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.img-wrap {
	position: relative;
	overflow: hidden; 
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 0 24px;
	background: rgba(33, 150, 243, 0.9);
	color: var(--accent-color);
	line-height: 1.87;
    transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.photo-work b, .photo-work p {
	margin-left: 24px;
}
.photo-work b {
	display:block;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--font-heading-color);
	
}
.photo-work p {
	line-height: 1.87;
	color: var(--font-description-item-color);
	padding-bottom: 20px;
}
.photo-work a {
	width: inherit;
	height: inherit;
}
